site_name: Aulas de Carreiras e Competências para o Mercado de Trabalho
site_description: Material de apoio às aulas de Carreiras e Competências para o Mercado de Trabalho
site_author: Luccas Alencar

# Repositório (substitua pelo seu)
repo_name: LuccasAlencar/aulas-carreiras-e-competencias-para-o-mercado-de-trabalho
repo_url: https://github.com/LuccasAlencar/aulas-carreiras-e-competencias-para-o-mercado-de-trabalho
# Tema
theme:
  name: material
  language: pt-BR
  palette:
    # Modo claro
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Mudar para modo escuro
    # Modo escuro
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Mudar para modo claro
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
    - navigation.footer

# Plugins
plugins:
  - search:
      lang: pt

# Extensões Markdown
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

# Navegação
nav:
  - Home: index.md
  - Aulas:
    - Aula 1 — Autoconhecimento quem é você de verdade?: aulas/aula1.md
    - Aula 2 — Seus valores, talentos e referências: aulas/aula2.md
    - Aula 3 – Inteligência Emocional  : aulas/aula3.md



extra:
  generator: false